<tr>
  <td><%= request.start_date %></td>
  <td><%= request.end_date %></td>
  <td>
    <% if request.pending? %>

        <form action="<%= approve_cat_rental_request_url(request) %>" method="post">
          <input type="submit" value="Approve">
        </form>

        <form action="<%= deny_cat_rental_request_url(request) %>" method="post">
          <input type="submit" value="Deny">
        </form>

    <% else %>
      <%= request.status %>
    <% end %>
  </td>
</tr>
